<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
  <style>
    .w3-col img { width: 100%; }
    .top { font-family: 'Dancing Script', cursive; }
    .top button { margin: 1em }
  </style>
  <title>Home</title>
</head>
<body class="grey lighten-5">
  <div class="top" style="text-align: center;">
    <h1 class="blue-text text-lighten-3 top">Becca and Ben</h1>
    <h4 class="blue-text text-lighten-3 top">happy valentine's day :)</h4>
    <button class="btn blue lighten-3" onclick="window.location.replace('/views/question1.html')">Take the Quiz</button>
  </div>
  <div class="w3-row" id="myGrid">
    <div class="w3-col s4">
      <img src="../public/colorado.JPG" alt="CO">
      <img src="../public/stl.jpg" alt="stl">
      <img src="../public/indy.jpg" alt="indy">
    </div>
    <div class="w3-col s4">
      <img src="../public/prom.JPG" alt="prom">
      <img src="../public/colorado2.jpg" alt="CO">
      <img src="../public/stl2.jpg" alt="stl">
      <img src="../public/terrace.jpg" alt="terrace">
    </div>
    <div class="w3-col s4">
      <img src="../public/indy2.jpg" alt="indy2">
      <img src="../public/lake.jpg" alt="lake">
      <img src="../public/jazz.jpg" alt="jazz">
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>