<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
  <style>
    .pictures img { width: 100%; }
    .question { font-family: 'Dancing Script', cursive; }
  </style>
  <title>Quiz Timeeee</title>
</head>
<body class="red lighten-1">
  <header>
    <h1 class="question center-align" id="question">Who is ACTUALLY cuter?</h1>
  </header>

  <!-- 4 equally spaced pictures as choices -->
  <div class="pictures">
    <div class="w3-row" id="top">
      <div class="w3-col s6">
        <a href="/views/wrong.html" id="top-left-link">
          <img src="../public/bencrazy.jpg" alt="pic" id="top-left">
        </a>
      </div>
      <div class="w3-col s6">
        <a href="/views/question8.html" id="top-right-link">
          <img src="../public/beccacrazy.jpg" alt="pic" id="top-right">
        </a>
      </div>
    </div>
  </div>
  <div class="hide" id="question-number">0</div>
  <!-- removed to try and shift perspective to many html docs instead of all JS -->
  <!-- <script src="app.js"></script> -->
</body>
</html>