<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
  <style>
    .pictures img { width: 100%; }
    .fancy { font-family: 'Dancing Script', cursive; }
  </style>
  <title>You Win!</title>
</head>
<body class="pink lighten-3">
  <header>
    <h1 class="fancy center-align white-text">You win!</h1>
  </header>

  <p>
    <h4 class="fancy center-align">
      Becca,
      <br><br>
      I'm so grateful that I have you, and I know I don't tell you that enough. You're my best friend and my favorite person.
      Long distance sucks, but I hope you know there's nobody else in the world I'd rather be with. You're the cutest, sweetest,
      most loving person I've met, and I hope I never lose you. You make me so happy every single day, and I'm so excited to 
      spend another valentine's day with you ;)
      <br><br>
      - Kool Aid Jammer
    </h1>
  </p>
</body>
</html>